.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #0070f3;
  padding: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.link {
  color: white;
  width: 150px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  background-color: white;
  color: #0070f3;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
